%div{:class => "btn-group", :'data-toggle' => "buttons-radio"}
  -englang = (@lang['en']) ? 'active' : ''
  -spalang = (@lang['es']) ? 'active' : ''
  -#Javascript for language switching is in layout.js file
  %button#english{:type => "button", :class => "btn btn-mini btn-inverse #{englang}"}English
  %button#spanish{:type => "button", :class => "btn btn-mini btn-inverse #{spalang}"}!="Espa&ntilde;ol"
%small #{I18n.l DateTime.now} --> debe tener links: Regresar al tope de la pagina | Acesabilidad | Ayuda | Contactenos
%br
