.DS_Store
/public/resources/pdfs/*.pdf
.localeapp
cert_file
db.sqlite3
*.sqlite3
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html