-#404.haml (use for example)
%title 404 Error
%div
  %img{:src => "../images/404/panda.gif", :alt => "Panda", :height => "234px", :width => "211px"}
  %img{:src => "../images/404/cunico.png", :alt => "Panda", :height => "343px", :width => "541px"}