-#404.haml (use for example)
.container
  %h1.hero 404 Error
  %h2
    !="#{t 'dont_panic'}"
  %h3  
    !="#{t 'error404'}"
%div.container
  %img{:src => "/images/404/panda.gif", :alt => "Panda", :height => "234px", :width => "211px"}
  %img{:src => "/images/404/cunico.png", :alt => "Cunico", :height => "343px", :width => "541px"}
%br

/ :javascript
/ $(title).html("404 Error")