-#404.haml (use for example)
.container{:style => "background-color: bisque;"}
  %h3  
    !="#{t 'error404'}"
%div.container
  %img{:src => "#{url '/images/404/flickr_iskir_cc.jpg'}", :alt => "Baby Crying"}
%br
%small
  !="#{t 'page_not_found'}#{@request_url}"
  (foto/photo © Iskir@Flickr -- © Oscar Castañón Barragán)

:javascript
  document.title = "404"