/ = #include_gon
/ %script{:type => "text/javascript", :src => "../coffee/coffee-script.js"}
/ %script{:type => "text/coffeescript", :src => "../coffee/calendar.coffee"}


/ %iframe.calendar{:style => "border: 0", :width="800", :height => "600", :frameborder => "0", :scrolling => "no", :src => "https://www.google.com/calendar/embed?src=juntacalidadambientalcalendar%40gmail.com&ctz=America/Puerto_Rico" }
-#TODO Implement w/ OAth
.container-fluid
  .span10 
    %h1 
      Calendario de Vistas Publicas
      %small 
        %br
        Tiene que estar conectado a google calendar para poder ver el calendario de vistas publicas.
    %iframe{:src => "https://www.google.com/calendar/embed?title=Calendario%20de%20Vistas%20Publicas&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTz=0&amp;height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=juntacalidadambientalcalendar%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FPuerto_Rico", :style => " border:solid 1px #777 ", :width => "400", :height => "300", :frameborder => "0", :scrolling => "yes"}
