-# coding: UTF-8
!!!5
%html{:lang => "#{@lang}"}
  %head
    =haml :'partials/_header'   
  -# ###### End of Head ######       
  %body
    -#pr.gov Top Bar
    =haml :'partials/_pr_gov_topbar'
    .yielded.centered
      =yield  
    %header.container.pagination-centered  
    -#NAVBAR partial here:: (navbar_path is for error page which needs absolute paths)
    -@navbar_path = "/#{@lang}/" #absolute path # REFACTOR TO USE url method
    =haml :'partials/_navbar'                      
  -# ###### End of Body #######
  %footer.error_page
    -#FOOTER partial here::
    =haml :'partials/_footer_bar' 
  -# ###### End of Footer #######  



