-# coding: UTF-8
!!!5
%html{:lang => "#{@lang}"}
  %head
    =haml :'partials/_header'   
  -# ###### End of Head ######       
  %body
    -#pr.gov Top Bar
    =haml :'partials/_pr_gov_topbar'  
    %header.container.pagination-centered
      %img#logo{:src => "/images/jca_logo.png", :alt => "Logo de la Junta de Calidad Ambiental", :height => "191px", :width => "967px"}
    -#NAVBAR partial here::
    =haml :'partials/_navbar'                        
    .yielded
      =yield
  -# ###### End of Body #######
  %footer.error_page
    -#FOOTER partial here::
    =haml :'partials/_footer_bar' 
  -# ###### End of Footer #######  



