-# coding: UTF-8
!!!5
%html{:lang => "#{@lang}"}
  %head
    =haml :'partials/_header'   
  -# ###### End of Head ######       
  %body
    -#pr.gov Top Bar
    =haml :'partials/_pr_gov_topbar'
    %div{:style => "background-color: black; text-align: center;"}
      -#NAVBAR partial here:: (navbar_path is for error page which needs absolute paths)
      -@navbar_path = "/#{@lang}/" #absolute path # REFACTOR TO USE url method
      %a{:href => "#{@navbar_path}home"}!="#{t 'nav.home'}"
    .yielded.centered
      =yield  



