-# coding: UTF-8
!!!5
%html{:lang => "#{@lang}"}
  %head
    =haml :'partials/_header'   
  -# ###### End of Head ######       
  %body
    -#pr.gov Top Bar
    =haml :'partials/_pr_gov_topbar'  
    %header.container.pagination-centered
      %img#logo{:src => "#{url '/images/jca_logo.png'}", :alt => "Logo de la Junta de Calidad Ambiental", :height => "191px", :width => "967px"}
    -#NAVBAR partial here:: (navbar_path is for errors_layout which needs absolute paths)
    -@navbar_path = '' #relative path
    =haml :'partials/_navbar'                        
    .yielded
      =yield
  -# ###### End of Body #######
  %footer.footer 
    -#FOOTER partial here::
    =haml :'partials/_footer_bar' 
  -# ###### End of Footer #######  



     