<link href='http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css' media='screen' rel='stylesheet'>
<script src='http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js'></script>


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet" href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="jquery_mobile/my.css" />
        <script src="https://s3.amazonaws.com/codiqa-cdn/jquery-1.7.2.min.js">
        </script>
        <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.js">
        </script>
        <script src="jquery_mobile/my.js">
        </script>
        <!-- User-generated css -->
        <style>
        </style>
        <!-- User-generated js -->
        <script>
            try {

    $(function() {

    });

  } catch (error) {
    console.error("Your javascript has an error: " + error);
  }
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3>
                    JCA Móvil
                </h3>
            </div>
            <div data-role="content">
                <a data-role="button" data-theme="e" href="#page1" data-icon="grid" data-iconpos="left">
                    Reportar Querella
                </a>
                <a data-role="button" data-theme="e" href="#page1" data-icon="info" data-iconpos="left">
                    Calendario Vistas Publicas
                </a>
                <a data-role="button" target="_blank" data-theme="b" href="/" data-icon="home" data-iconpos="left">
                    Website Completo
                </a>
            </div>
        </div>
    </body>
</html>

