/*app.css*/
body > .navbar {
  width: auto;
}
body > .navbar .brand {
  float: right;
  padding-right: 0;
  padding-left: 0;
}
#navbar_for_areas {
  top: 0px;
  max-width: 105px; 
}
#navbar_for_page {
  top: 0px;
  max-width: 105px; 
}
#navbar_for_about {
  top: 0px;
  max-width: 165px; 
  min-width: 155px;
}
#navbar_for_news {
  top: 0px;
  max-width: 165px;
  min-width: 155px; 
  overflow: hide;
}
.barraAgencial {
  background: #141414;
  /* font-size: 13px; */
  font-weight: bold;
  height: 40px;
  margin: 0;
}
/* background gradients */
body {
  background-color: #94D89E; /*fallback*/
  /*background: -webkit-gradient(linear, 0%, 0%, 0%, 100%, from (rgba(0, 183, 74, 0.50), to(#66CC99)); 
  background: -moz-linear-gradient(19%, 75% 90deg, rgba(0, 183, 74, 0.50), #66CC99);
  background: linear-gradient(rgba(0, 183, 74, 0.50), #66CC99); */
  /*background-image: -webkit-linear-gradient([<point> || <angle>,]? <stop>, <stop> [, <stop>]); /* Chrome 10+, Saf5.1+ */
  background: linear-gradient(#94D89E, #B1D86D, #94D89E);
  background: -webkit-linear-gradient(left, #94D89E, #B1D86D, #94D89E); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, #94D89E, #B1D86D 10%, #94D89E);
  background-image: -o-linear-gradient(left, #94D89E, #B1D86D, #94D89E); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#94D89E, endColorstr=#B1D86D);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#94D89E, endColorstr=#B1D86D)";
}
.mainpage {
  /*background:url(../images/backgrounds/bg7.png) no-repeat center top;*/
  background:url(../images/backgrounds/bg5.png) no-repeat center top;
  background-size:100% 100%;
  background-color: #94D89E; /*fallback*/
}
.topbar {
  background-color:honeydew;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px;
/*  max-width: 1100px;*/
}
header {
  opacity: 0.9;
}
.centered {
  text-align: center;
}
/* makes pdf iframes responsive */
#pdfs_reports iframe, #pdfs_reports object, #pdfs_reports embed { width: 100%; }